table {
  width: 100%;
}

td, th {
  width: 5%;
  color: black;
  border-bottom-color: #c6c3c3;
}
.tamIcon{
  width: 15%;
}
tr{
  border: 0.5px solid black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.backgroundTable{
  background-color: white;
}
.footerTable{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.click {
  cursor: pointer;
}
